.background, .detailsbg {
    background: url('https://cutewallpaper.org/21/star-wars-starfield-background/Star-Wars-Backgrounds-Wallpaper-Cave.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-dark {
    background-color: black !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.row.cardrow {    
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.row.cardrow .col {       
    float: none;
    margin: 0 0.25%;
    padding-bottom: 10px;
    display: inline-block;
}

.favoritebtn {
    content: \2665;
}

h2.header {
    color:white;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-top: 2px solid rgba(170,170,170,0.25);
    border-bottom: 2px solid rgba(170,170,170,0.25);
    margin: 3.04em 0 1.52em;
    padding: 0.65rem 12px 0.4rem;
    box-sizing: border-box;
}

h3.detailsname{
    font-family: DIN, Helvetica, Arial, sans-serif;    
    color: white;
    font-size: 1.4em;
    letter-spacing: 0.03em;
}

.detailsdescription {
    background-color: rgb(75, 75, 75);
    font-size: 15px;
    color: white;
}

.detailsheader {
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.detailsattributes {
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.detailspadding {
    padding-bottom: 118px;
}

.footerbg {
    background: url('https://static-mh.content.disney.io/starwars/assets/footer/vader_2-86e8fdb4e26d.jpg') center top no-repeat;    
    background-color: black;
    min-height: 272px;
}


.copyright {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}